<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" crossorigin="anonymous">

    </head>
<body>
panel admina

<span th:text="'Twoja rola to: ' + ${userRole}"/><br><br>

<!--<th:block th:if="${actionAlertDeleted} != null">-->
    <!--<div class="alert alert-success" role="alert">-->
        <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--<strong>Success!</strong> <span th:text="${actionAlert}"/>-->
    <!--</div>-->
<!--</th:block>-->



<br>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Delete user
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <form action="#" th:action="@{/admin/deleteuser}" th:object="${userToDelete}" method="post">
                    UserId
                    <input type="text" th:field="*{userLogin}"/>

                    <input type="submit" class="btn btn-primary" value="Submit"/>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Change user role
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <form action="#" th:action="@{/admin/setrole}" th:object="${userChangeRole}" method="post">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">User login</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="user login" th:field="*{userLogin}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Set role</label>
                        <select multiple class="form-control" id="exampleFormControlSelect2" th:field="*{newUserRole}">
                            <option th:value="'USER'">USER</option>
                            <option th:value="'MODERATOR'">MODERATOR</option>
                            <option th:value="'ADMIN'" th:if="${userRole.equals('GOD')}">ADMIN</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.bundle.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/popper.min.js"></script>
<script>

    window.setTimeout(function() {
        $(".alert").fadeTo(300, 0).slideUp(100, function(){
            $(this).remove();
        });
    }, 1500);
</script>

</body>
</html>