<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" crossorigin="anonymous">

</head>
<body>

<table class="table">
    <tr>
        <td>Login</td>
        <td>First name</td>
        <!--<td>Birth year</td>-->
        <!--<td>Email</td>-->
        <!--<td>Avatar</td>-->
        <!--<td>Czy aktywny</td>-->
    </tr>
    <tr th:each="UserDto : ${listOfAllUsers}">
        <td><a th:href="'/user/' + ${UserDto.getId()}" th:text="${UserDto.getLogin()}"/> </td>
        <td th:text="${UserDto.getFirstName()}"/>
        <!--<td th:text="${UserDto.getBirthYear()}"/>-->
        <!--<td th:text="${UserDto.getEmail()}"/>-->
        <!--<td th:text="${UserDto.getAvatar()}"/>-->
        <!--<td th:text="${UserDto.getIsActive()}"/>-->
    </tr>
</table>

</body>
</html>