<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="background-color: greenyellow; width: 500px; margin: 10px; padding: 5px">

    <div style="background-color: cornflowerblue; padding: 5px; margin: 10px">
        <p th:text="${categoryDetails.getCategoryTopic()}"/>
    </div>


    <div style="background-color: lightcoral; padding: 5px; margin: 10px" th:each="SectionDto: ${allSections}">
        <a th:href="'/section/' + ${SectionDto.getId()}" th:text="${SectionDto.getSectionTopic()}"></a>
    </div>

</div>


</body>
</html>