<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">

    <style>

        .avatar {
            vertical-align: middle;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

    </style>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" crossorigin="anonymous">

</head>
<body>
<span th:text="'Jestes zalogowany jako: ' + ${userLogin}"></span><br><br>

Adres:<br>
<a th:href="'/'">DiscussIT</a> /
<a th:href="'/category/' + ${categoryDetails.getId()}"><span th:text="${categoryDetails.getCategoryTopic()}"></span> </a> /
<a th:href="'/section/' + ${sectionDetails.getId()}"><span th:text="${sectionDetails.getSectionTopic()}"/></a> /
<a th:href="'/discussion/' + ${discussionDetails.getId()}"><span th:text="${discussionDetails.getTopic()}"/> </a>
<br><br>

<p th:text="'ilosc wpisow w dyskusji: ' + ${allMessagesViewDto.size()}"/>

<div style="background-color: lightblue; padding: 5px; margin: 10px" th:each="MessageViewDto: ${allMessagesViewDto}">

    <!--<th:block th:if="${lastMessage.getId() == MessageViewDto.getId()}" th:text="'to jest ostatnia wiadomosc'"></th:block>-->

    <th:block th:if="${lastMessage.getId() == MessageViewDto.getId()}">
        <a th:id="${lastMessage.getId()}"/>
    </th:block>

    <a th:href="'/user/' + ${MessageViewDto.getUserId()}"><span th:text="${MessageViewDto.getUserLogin()}"/> </a><br>
    <span th:text="${MessageViewDto.getRole()}"/><br>
    <span th:text="'posty: ' + ${numberOfMessagesPerUser.get(MessageViewDto.getUserId())}"/>
    <!--<p th:text="'Autor: ' + ${MessageViewDto.getUserLogin()}"/>-->
    <p th:text="${MessageViewDto.getText()}"/>
    <p th:text="${MessageViewDto.getDate()}"/>
    <br>
    <img th:src="@{'data:image;base64,'+${MessageViewDto.getAvatar()}}" class="avatar"/><br><br>


<th:block th:if="${MessageViewDto.getUserId()} == ${(userId)}">
    <a th:href="'/message/edit/' + ${MessageViewDto.getId()}"><button type="button" class="btn btn-warning">Edit</button></a>
    <!--<a th:href="'/message/delete/' + ${MessageViewDto.getId()}"><button type="button" class="btn btn-danger">Delete</button></a>-->
</th:block>

<th:block th:if="${canUserDeleteThing} == true">
    <!--<a th:href="'/message/edit/' + ${MessageViewDto.getId()}"><button type="button" class="btn btn-warning">Edit</button></a>-->
    <a th:href="'/message/delete/' + ${MessageViewDto.getId()}"><button type="button" class="btn btn-danger">Delete</button></a>
</th:block>

<th:block th:if="${MessageViewDto.getUserId()} != ${(userId)}">
        <!--<a th:href="'/message/edit/' + ${MessageViewDto.getId()}"><button type="button" class="btn btn-warning">Edit</button></a>-->
        <a th:href="'/PrivateMessages/write/' + ${MessageViewDto.getUserId()}"><button type="button" class="btn btn-success">Write PM</button></a>
</th:block>


</div>

</div>

<form action="#" th:action="@{/discussion/addMessage}" th:object="${newMessageEntry}" method="post">
    Tresc wiadomosci:
    <input type="text" th:field="*{text}"/>
    User:
    <input type="hidden" th:field="*{userLogin}" th:value="${newMessageEntry.getUserLogin()}"/>

    <input type="hidden" th:field="*{discussionId}" th:value="${newMessageEntry.getDiscussionId()}"/>
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>

<script src="/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>

</body>
</html>