<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" crossorigin="anonymous">

    <style>

    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
</style>
</head>
<body>

<!-- przycisk logowania itp -->
<div style="width: auto; margin: 10px; padding: 5px">

    <th:block th:if="${userLogin} != null">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span th:text="${userLogin}"/>
            </button>
            <div class="dropdown-menu">
                <!--<a class="dropdown-item" href="/user/edit">Profile</a>-->
                <a class="dropdown-item" th:href="'/user/' + ${userId}">Profile</a>
                <a class="dropdown-item" href="/PrivateMessages/">Private Messages  <span th:if="${newPrivateMessagesForUser.size()} > 0" class="badge badge-primary"><span th:text="${newPrivateMessagesForUser.size()}"/>  </span></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>
    </th:block>

    <th:block th:unless="${userLogin} != null">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Your account
            </button>
            <div class="dropdown-menu">
                <form class="px-4 py-3" th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label for="username">Login</label>
                        <input type="text" id="username" name="username" placeholder="Your user login"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/register">New around here? Sign up</a>
            </div>
        </div>
    </th:block>

    <a class="btn btn-success" href="/" role="button">Forum</a>
    <a class="btn btn-success" href="/users" role="button">Users</a>
    <a class="btn btn-success" href="/faq" role="button">FAQ</a>

    <th:block th:if="${canGoToAdmin} == true">
        <a class="btn btn-danger" href="/admin" role="button">Admin</a>
    </th:block>

</div>

<div>
    <div style="display: inline-block; width: 60%; height: auto">
        <div style="background-color: greenyellow; width: 100%; margin: 10px; padding: 5px" th:each="CategoryDto: ${allCategories}">

            <div style="background-color: cornflowerblue ; padding: 5px; margin: 10px">
                <p th:text="${CategoryDto.getCategoryTopic()}"/>
            </div>


            <div style="background-color: lightcoral; padding: 5px; margin: 10px" th:each="SectionDto: ${allSections}" th:if="${SectionDto.getCategoryId() == CategoryDto.getId()}">
                <a th:href="'/section/' + ${SectionDto.getId()}" th:text="${SectionDto.getSectionTopic()}"></a>
                <p th:text="'ilosc dyskusji: ' + ${sectionNumbersToFront.get(SectionDto.getId()).getNumberOfDiscussions()} + ' , liczba postow: ' + ${sectionNumbersToFront.get(SectionDto.getId()).getNumberOfMessages()}"/>
                <th:block th:if="${!sectionNumbersToFront.get(SectionDto.getId()).getAuthorOfLastPost().equals('null')}">
                   <span th:text="'ostatni wpis: '"/> <a th:href="'/user/' + ${sectionNumbersToFront.get(SectionDto.getId()).getAuthorOfLastPostId()}" th:text="${sectionNumbersToFront.get(SectionDto.getId()).getAuthorOfLastPost()}" /><br>
                   <span th:text="${sectionNumbersToFront.get(SectionDto.getId()).getDate()}"/><br>
                   <img th:src="@{'data:image;base64,'+${sectionNumbersToFront.get(SectionDto.getId()).getUserAvatar()}}" class="avatar" />
                </th:block>


            </div>
        </div>
    </div>

        <div style="width: 30%; margin: 10px; display: inline-block; padding: 5px; height: auto; position: absolute">

            <div style="background-color: yellow; width: 100%; margin: 10px; padding: 5px">
                <p>
                    Shoutbox:
                </p>

                <table class="table">
                    <tr th:each="ShoutboxMessageViewDto : ${shoutboxMessages}">
                        <td th:text="${ShoutboxMessageViewDto.getUserLogin()}"/>
                        <td th:text="${ShoutboxMessageViewDto.getText()}"/>
                        <td th:text="${ShoutboxMessageViewDto.getDate()}"/>
                    </tr>
                </table>

                <th:block th:if="${userLogin} != null">
                    <form action="#" th:action="@{/shoutbox/addMessage}" th:object="${newshouboxMessage}" method="post">

                        <input type="text" th:field="*{text}"/>
                        <input type="hidden" th:field="*{userId}" th:value="${newshouboxMessage.getUserId()}"/>

                        <input type="submit" class="btn btn-primary" value="Submit"/>
                    </form>
                </th:block>
                <th:block th:unless="${userLogin} != null">

                    <div class="alert alert-danger" role="alert">
                        Musisz byc zalogowany aby pisac w shoutbox
                    </div>


                </th:block>
            </div>

            <div style="background-color: pink; width: 100%; margin: 10px; padding: 5px">
                <p>Last 10 messages</p>

                <table class="table">
                    <tr th:each="MessageViewFrontPageDto : ${lastMessages}">
                        <td th:text="${MessageViewFrontPageDto.text}"/>
                        <td th:text="${MessageViewFrontPageDto.getUserLogin()}"/>
                        <!--<td th:text="${MessageViewFrontPageDto.getDiscussionTopic()}"/>-->
                        <td><a th:href="'/discussion/' + ${MessageViewFrontPageDto.getDiscussionId()}" th:text="${MessageViewFrontPageDto.getDiscussionTopic()}"/></td>

                    </tr>
                </table>
            </div>


            <div style="background-color: lightskyblue; width: 100%; margin: 10px; padding: 5px">
                    <p>
                        5 ostatnich watkow
                    </p>

                    <p th:each="DiscussionDto : ${top5Discussions}"><a th:href="'/discussion/' + ${DiscussionDto.getId()}" th:text="${DiscussionDto.getTopic()}"/></p>
            </div>
        </div>
</div>

<div style="background-color: greenyellow; width: 30%; margin: 10px; padding: 5px">
    Statystyki:  <br>
    Wpisow: <span th:text="${mapOfStatistics.get('numberOfAllMessages')}"/><br>
    tematow: <span th:text="${mapOfStatistics.get('numerOfAllDiscussions')}"/><br><br>

    Ilosc zarejestrowanych: <span th:text="${mapOfStatistics.get('numberOfAllUsers')}"/><br>
    Obecnie zalogowanych: <span th:text="${mapOfStatistics.get('numberOfCurrentLoggedUsers')}"/><br>

</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="bootstrap/js/bootstrap.bundle.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</body>
</html>