<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DiscussIT</title>
    <link rel="alternate" type="application/atom+xml" title="Feed - PixelGoose.com" href="http://phpbb3.pixelgoose.com/feed.php"><link rel="alternate" type="application/atom+xml" title="Feed - New Topics" href="http://phpbb3.pixelgoose.com/feed.php?mode=topics">

    <!--<script type="text/javascript" src="./styles/marina_teal/template/styleswitcher.js"></script>-->
    <script type="text/javascript" src="marina_teal/template/forum_fn.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function() {
            $('a.login-window').click(function() {

                // Getting the variable's value from a link
                var loginBox = this.hash;

                //Fade in the Popup and add close button
                $(loginBox).fadeToggle(300);

                return false;
            });

            // Cache the Window object
            $window = $(window);

            $('div[data-type="background"]').each(function(){
                var $bgobj = $(this); // assigning the object

                $(window).scroll(function() {

                    // Scroll the background at var speed
                    // the yPos is a negative value because we're scrolling it UP!
                    var yPos = -($window.scrollTop() / $bgobj.data('speed'));

                    // Put together our final background position
                    var coords = '50% '+ yPos + 'px';

                    // Move the background
                    $bgobj.css({ backgroundPosition: coords });

                }); // window scroll Ends
            });
        });
        //]]>
    </script>
    <link href="marina_teal/theme/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" disabled="">
    <!--<link href="./style.php?style=14&amp;id=14&amp;lang=en&amp;sid=0b07b5213002f251e3bedc76bec85b01" rel="stylesheet" type="text/css" media="screen, projection">-->

    <link rel="stylesheet" href="marina_teal/theme/font-awesome.min.css">

    <link rel="stylesheet" href="marina_teal/theme/im-icons.css">

    <link href="//fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="home2.css"/>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" crossorigin="anonymous">

    <style>

        .avatar {
            vertical-align: middle;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    </style>

</head>
<body id="phpbb" class="section-index ltr" style="">
<div id="wrap">
    <a id="top" accesskey="t"></a>

        <div id="headerbar">
            <div id="headerbar-inner" class="inner-block">
                <div id="main-nav">
                    <ul>
                        <li><a href="./index.php?style=14&amp;sid=0b07b5213002f251e3bedc76bec85b01" class="active">Home</a></li>
                        <li><a href="./faq.php?style=14&amp;sid=0b07b5213002f251e3bedc76bec85b01" title="Frequently Asked Questions">FAQ</a></li>
                        <li><a href="./faq.php?style=14&amp;sid=0b07b5213002f251e3bedc76bec85b01" title="Frequently Asked Questions">FAQ</a></li>
                        <li><a href="./faq.php?style=14&amp;sid=0b07b5213002f251e3bedc76bec85b01" title="Frequently Asked Questions">FAQ</a></li>

                    </ul>

                    <br><br>

                    <th:block th:if="${userLogin} != null">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span th:text="${userLogin}"/>
                            </button>
                            <div class="dropdown-menu">
                                <!--<a class="dropdown-item" href="/user/edit">Profile</a>-->
                                <a class="dropdown-item" th:href="'/user/' + ${userId}">Profile</a>
                                <a class="dropdown-item" href="/PrivateMessages/">Private Messages  <span th:if="${newPrivateMessagesForUser.size()} > 0" class="badge badge-primary"><span th:text="${newPrivateMessagesForUser.size()}"/>  </span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:unless="${userLogin} != null">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Your account
                            </button>
                            <div class="dropdown-menu">
                                <form class="px-4 py-3" th:action="@{/login}" method="post">
                                    <div class="form-group">
                                        <label for="username">Login</label>
                                        <input type="text" id="username" name="username" placeholder="Your user login"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" id="password" name="password" placeholder="Password"/>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                </form>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/register">New around here? Sign up</a>
                            </div>
                        </div>
                    </th:block>

                    <a class="btn btn-success" href="/" role="button">Forum</a>
                    <a class="btn btn-success" href="/users" role="button">Users</a>
                    <a class="btn btn-success" href="/faq" role="button">FAQ</a>

                    <th:block th:if="${canGoToAdmin} == true">
                        <a class="btn btn-danger" href="/admin" role="button">Admin</a>
                    </th:block>
                </div>
            </div>
        </div>

        <div id="subheader" data-type="background" data-speed="3" style="background-position: 50% 0px;">
            <div id="subheader-inner" class="inner-block">

                <div class="site-name">DiscussIT</div>
                <p class="site-description">Place for Your voice</p>

            </div>
        </div>
    </div>
    <a id="start_here"></a>
    <div id="page-body" class="inner-block">
        <ul class="linklist">
            <br><br>
        </ul>
        <div id="page-body-inner" class="sidebar">

            <div class="forabg" th:each="CategoryDto: ${allCategories}">
                <div class="inner">
                    <ul class="topiclist">
                        <li class="header">
                            <dl class="icon">
                                <dt class="header-name"><a href="./viewforum.php?style=14&amp;f=1&amp;sid=0b07b5213002f251e3bedc76bec85b01"><span th:text="${CategoryDto.getCategoryTopic()}"/> </a></dt>
                                <dd class="topics">Topics</dd>
                                <dd class="posts">Posts</dd>
                                <dd class="lastpost"><span>Last post</span></dd>
                            </dl>
                        </li>
                    </ul>

                    <ul class="topiclist forums">
                        <li class="row" id="forum2" th:each="SectionDto: ${allSections}" th:if="${SectionDto.getCategoryId() == CategoryDto.getId()}">
                            <dl class="icon" style="background-image: url(./styles/marina_teal/imageset/forum_read.svg); background-repeat: no-repeat;">
                                <dt title="No unread posts">

                                    <a th:href="'/section/' + ${SectionDto.getId()}" th:text="${SectionDto.getSectionTopic()}" class="forumtitle"/>
                                    <!--<div class="forum-description">Description of your first forum.</div>-->
                                </dt>
                                <dd class="topics"><span th:text="${sectionNumbersToFront.get(SectionDto.getId()).getNumberOfDiscussions()}"/><dfn>Topics</dfn></dd>
                                <dd class="posts"><span th:text="${sectionNumbersToFront.get(SectionDto.getId()).getNumberOfMessages()}"/><dfn>Posts</dfn></dd>
                                <dd class="lastpost">
                                    <span th:if="${!sectionNumbersToFront.get(SectionDto.getId()).getAuthorOfLastPost().equals('null')}">
                                    <dfn>Last post</dfn> by <a th:href="'/user/' + ${sectionNumbersToFront.get(SectionDto.getId()).getAuthorOfLastPostId()}" th:text="${sectionNumbersToFront.get(SectionDto.getId()).getAuthorOfLastPost()}" />
                                        <img th:src="@{'data:image;base64,'+${sectionNumbersToFront.get(SectionDto.getId()).getUserAvatar()}}" class="avatar" />
                                    </span>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-header">Who is online</div>
            <div class="block-body">In total there are <strong>7</strong> users online :: ktos, ktos, ktos<br>
            </div>
            <div class="block-header">Statistics</div>
            <div class="block-body">
                Total posts <strong><span th:text="${mapOfStatistics.get('numberOfAllMessages')}"/></strong> • Total topics <strong><span th:text="${mapOfStatistics.get('numerOfAllDiscussions')}"/></strong> • Total members <strong><span th:text="${mapOfStatistics.get('numberOfAllUsers')}"/></strong> • Our newest member <strong><a th:href="'/user/' + ${lastNewUser.getId()}" th:text="${lastNewUser.getLogin()}"/> </strong><br>
            </div>
        </div>
        <div id="sidebar">
            <div class="sidebar-block">
                <div class="block-header">
                    Shoutbox
                </div>
                <div class="block-body">
                    <form action="./ucp.php?style=14&amp;i=prefs&amp;mode=personal&amp;redirect=.%2Findex.php%3Fsid%3D0b07b5213002f251e3bedc76bec85b01&amp;sid=0b07b5213002f251e3bedc76bec85b01" method="post">
                        <div>
                            <table class="table">
                                <tr th:each="ShoutboxMessageViewDto : ${shoutboxMessages}">
                                    <td th:text="${ShoutboxMessageViewDto.getUserLogin()}"/>
                                    <td th:text="${ShoutboxMessageViewDto.getText()}"/>
                                    <td th:text="${ShoutboxMessageViewDto.getDate()}"/>
                                </tr>
                            </table>

                            <th:block th:if="${userLogin} != null">
                                <form action="#" th:action="@{/shoutbox/addMessage}" th:object="${newshouboxMessage}" method="post">

                                    <input type="text" th:field="*{text}"/>
                                    <input type="hidden" th:field="*{userId}" th:value="${newshouboxMessage.getUserId()}"/>

                                    <input type="submit" class="btn btn-primary" value="Submit"/>
                                </form>
                            </th:block>
                            <th:block th:unless="${userLogin} != null">

                                <div class="alert alert-danger" role="alert">
                                    Musisz byc zalogowany aby pisac w shoutbox
                                </div>


                            </th:block>
                        </div>
                    </form>
                </div>

            </div>

            <div class="sidebar-block">

                <div class="block-header">
                    Last 10 messages
                </div>

                <div class="block-body">
                    <form action="./ucp.php?style=14&amp;i=prefs&amp;mode=personal&amp;redirect=.%2Findex.php%3Fsid%3D0b07b5213002f251e3bedc76bec85b01&amp;sid=0b07b5213002f251e3bedc76bec85b01" method="post">
                        <div>
                            <table class="">
                                <tr th:each="MessageViewFrontPageDto : ${lastMessages}">
                                    <td th:text="${MessageViewFrontPageDto.text}"/>
                                    <td><a th:href="'/discussion/' + ${MessageViewFrontPageDto.getDiscussionId()}" th:text="${MessageViewFrontPageDto.getDiscussionTopic()}"/></td>
                                    <td th:text="${MessageViewFrontPageDto.getUserLogin()}"/>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>

            </div>

            <div class="sidebar-block">

                <div class="block-header">
                    5 newest discussions
                </div>

                <div class="block-body">
                    <form action="./ucp.php?style=14&amp;i=prefs&amp;mode=personal&amp;redirect=.%2Findex.php%3Fsid%3D0b07b5213002f251e3bedc76bec85b01&amp;sid=0b07b5213002f251e3bedc76bec85b01" method="post">
                        <div>
                            <p th:each="DiscussionDto : ${top5Discussions}"><a th:href="'/discussion/' + ${DiscussionDto.getId()}" th:text="${DiscussionDto.getTopic()}"/></p>
                        </div>
                    </form>
                </div>

            </div>

        </div></div>
    <div id="page-footer">
        <div class="navbar">
            <div class="inner inner-block">
                <ul class="linklist">
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="footer-inner" class="inner-block">
            <div id="prefooter">
                <div class="prefooter-block width-33">
                    <h2>About us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi perspiciatis delectus sequi quae eaque dolore provident adipisci quam!</p>
                    <p>Ea, neque, a repudiandae magnam quia ab reiciendis iusto veritatis veniam eius molestias vitae facilis id.</p>
                </div>
                <div class="prefooter-block width-33">
                    <h2>Contacts</h2>
                    <ul>
                        <li><i class="fa fa-phone fa-lg fa-fw"></i> (777) 777-7777</li>
                        <li><i class="fa fa-map-marker fa-lg fa-fw"></i> 101 phpBB3 1st Street</li>
                        <li><i class="fa fa-lg fa-fw"></i> St. Petersburg, Florida, WA 00000, USA</li>
                        <li><i class="fa fa-envelope fa-lg fa-fw"></i> noreply@yourdomain.com</li>
                    </ul>
                </div>
                <div class="prefooter-block width-33">
                    <h2>Links</h2>
                    <ul>
                        <li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="#">Home</a></li>
                        <li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="#">Faq</a></li>
                        <li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="#">Members</a></li>
                        <li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="#">Community rules</a></li>
                        <li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="#">Who we are and what we want?</a></li>
                    </ul>
                </div>
            </div>
            <div id="footer-main">
                <ul id="footer-social-links">
                    <li><a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-flickr fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-tumblr-square fa-2x"></i></a></li>
                </ul>
                <div id="pixelgoose-copyright">This forum uses modified Marina theme by <a title="Premium phpBB Themes" href="https://pixelgoose.com/">PixelGoose Studio</a></div>
            </div>
        </div>
    </div>
</div>
<div id="cron-block">
    <a id="bottom" accesskey="z"></a>
</div>

</body>
</html>