<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
<style>

    .avatar {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

</style>
</head>
<body>

<table class="table">
    <tr>
        <td>Login</td>
        <td>First name</td>
        <td>Birth year</td>
        <td>Email</td>
        <td>Avatar</td>
        <td>Number of posts</td>
        <td>Number of discussion started</td>

    </tr>
    <tr>
        <td th:text="${userProfile.getLogin()}"/>
        <td th:text="${userProfile.getFirstName()}"/>
        <td th:text="${userProfile.getBirthYear()}"/>
        <td th:text="${userProfile.getEmail()}"/>
        <!--<td th:text="${userProfile.getImageAsString()}"/>-->
        <td><img th:src="@{'data:image;base64,'+${userProfile.getImageAsString()}}" class="avatar" /></td>
        <td th:text="${numberOfMessages}"/>
        <td th:text="${numberOfDiscussions}"/>
</table>


</body>
</html>