<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">

</head>
<body>
<table class="table">
    <tr>
        <td>Received from</td>
        <td>Data</td>
        <td></td>
        <td></td>

    </tr>
    <tr th:each="PrivateMessageViewDto : ${newPrivateMessagesForUser}" style="font-weight: bold">
        <b><td><a th:href="'/user/' + ${PrivateMessageViewDto.getSenderId()}" th:text="${PrivateMessageViewDto.getSenderLogin()}"/> </td></b>
        <b><td th:text="${PrivateMessageViewDto.getDate()}" /></b>
        <b><td><a th:href="'/PrivateMessages/read/' + ${PrivateMessageViewDto.getId()}" class="btn btn-primary" role="button">Read message</a></td></b>
        <td></td>

    </tr>
    <tr th:each="PrivateMessageDto : ${oldPrivateMessagesForUser}">
        <td><a th:href="'/user/' + ${PrivateMessageDto.getSenderId()}" th:text="${PrivateMessageDto.getSenderLogin()}"/> </td>
        <td th:text="${PrivateMessageDto.getDate()}"/>
        <td><a th:href="'/PrivateMessages/read/' + ${PrivateMessageDto.getId()}" class="btn btn-success" role="button">Read message</a></td>
        <th:block th:if="${PrivateMessageDto.getIsNew().equals('no')}">

            <td><a th:href="'/PrivateMessages/unread/' + ${PrivateMessageDto.getId()}" class="btn btn-warning" role="button">Mark unread</a>
            <a th:href="'/PrivateMessages/delete/' + ${PrivateMessageDto.getId()}" class="btn btn-danger" role="button">Delete</a></td>
        </th:block>

    </tr>
</table>

</body>
</html>