<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" crossorigin="anonymous">

</head>
<body>
<table>
    <tr>
        <td>Send to</td>
        <td>Data</td>
        <td>Click to read</td>
    </tr>
    <tr th:each="PrivateMessageDto : ${allSendPMs}">
        <td th:text="${PrivateMessageDto.getReceiverLogin()}"/>
        <td th:text="${PrivateMessageDto.getDate()}"/>
        <td><a th:href="'/PrivateMessages/read/' + ${PrivateMessageDto.getId()}" class="btn btn-success" role="button">Read message</a></td>
        <!--<td th:text="${PrivateMessageDto.getText()}"/>-->
    </tr>
</table>

</body>
</html>