<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/PrivateMessages/write}" th:object="${newPM}" method="post">
    Tresc wiadomosci:
    <input type="text" th:field="*{text}"/>

    User:
    <input list="userLogin" th:field="*{receiverLogin}"/>
    <datalist id="userLogin">
        <option th:each="UserDataDtoForDataListForm : ${allUsersLogins}" th:value="${UserDataDtoForDataListForm.getUserLogin()}"/>
    </datalist>

    <input type="hidden" th:field="*{senderLogin}" th:value="${newPM.getSenderLogin()}"/>
    <input type="hidden" th:field="*{senderId}" th:value="${newPM.getSenderId()}"/>
    <input type="hidden" th:field="*{receiverId}" th:value="${newPM.getReceiverId()}"/>
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>

</body>
</html>