<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="'/PrivateMessages/send'" th:text="'Wyslane: ' + ${privateMessagesSended.size()}"/><br>
<a th:href="'/PrivateMessages/received'" th:text="'Odebrane: ' + ${privateMessagesReceived.size()}"/><br><br>
<a th:href="'/PrivateMessages/write'" th:text="'Napisz wiadomosc'"}/><br><br>
</body>
</html>