<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">

</head>
<body>

Adres:<br>
<a th:href="'/'">DiscussIT</a> /
<a th:href="'/category/' + ${categoryDetails.getId()}"><span th:text="${categoryDetails.getCategoryTopic()}"/> </a> /
<a th:href="'/section/' + ${sectionDetails.getId()}"><span th:text="${sectionDetails.getSectionTopic()}"/></a>
<br><br>

<div style="background-color: lightcoral; padding: 5px; margin: 10px" th:each="DiscussionDto: ${discussionsBySectionId}">
    <a th:href="'/discussion/' + ${DiscussionDto.getId()}" th:text="${DiscussionDto.getTopic()}"></a><br>
    <a th:href="'/user/' + ${DiscussionDto.getUserId()}"><span th:text="${DiscussionDto.getUserLogin()}"/> </a>
    <p th:text="'Date: ' + ${DiscussionDto.getDate()}"/>

    <p th:text="'Ilosc wpisow: ' + ${mapOfDiscussionsNumber.get(DiscussionDto.getId())}"/>
    <!--<a th:href="'/discussion/' + ${DiscussionDto.getId()}" th:text="'ostatni wpis'"></a><br>-->
    <br>
    <a th:href="'/discussion/' + ${DiscussionDto.getId()} + '#' + ${mapOfLastMessageInDiscussion.get(DiscussionDto.getId()).getId()}" th:text="'ostatni wpis'"/><br>
    <a th:href="'/user/' + ${mapOfLastMessageInDiscussion.get(DiscussionDto.getId()).getUserId()}" th:text="${mapOfLastMessageInDiscussion.get(DiscussionDto.getId()).getUserLogin()}"></a>

</div>

<form action="#" th:action="@{/section/addDiscussion}" th:object="${newDiscussion}" method="post">
    Temat:
    <input type="text" th:field="*{topic}"/>

    Tresc wiadomosci:
    <input type="text" th:field="*{textMessage}"/>

    <input type="hidden" th:field="*{userLogin}" th:value="${newDiscussion.getUserLogin()}"/>
    <input type="hidden" th:field="*{sectionId}" th:value="${newDiscussion.getSectionId()}"/>
    <input type="submit" class="btn btn-primary" value="Submit"/>
</form>

</body>
</html>