<!-- IF SCRIPT_NAME eq 'index' -->
<div id="subheader" data-type="background" data-speed="3">
	<div id="subheader-inner" class="inner-block">

		<!-- Subheader content starts here -->

		<div class="site-name">{SITENAME}</div>
		<p class="site-description">{SITE_DESCRIPTION}</p>
		
		<!-- Subheader content ends here -->

	</div>
</div>
<!-- ENDIF -->