<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DiscussIT</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function() {
            $('a.login-window').click(function() {

                // Getting the variable's value from a link
                var loginBox = this.hash;

                //Fade in the Popup and add close button
                $(loginBox).fadeToggle(300);

                return false;
            });

            // Cache the Window object
            $window = $(window);

            $('div[data-type="background"]').each(function(){
                var $bgobj = $(this); // assigning the object

                $(window).scroll(function() {

                    // Scroll the background at var speed
                    // the yPos is a negative value because we're scrolling it UP!
                    var yPos = -($window.scrollTop() / $bgobj.data('speed'));

                    // Put together our final background position
                    var coords = '50% '+ yPos + 'px';

                    // Move the background
                    $bgobj.css({ backgroundPosition: coords });

                }); // window scroll Ends
            });
        });
        //]]>
    </script>


    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>

    <link href="marina_teal/theme/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" disabled="">

    <link rel="stylesheet" href="marina_teal/theme/font-awesome.min.css">

    <link rel="stylesheet" href="marina_teal/theme/im-icons.css">

    <link href="//fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="home2.css"/>

    <style>

        .avatar {
            vertical-align: middle;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    </style>

</head>
<body id="phpbb" class="section-index ltr" style="">
<div id="wrap">
    <a id="top" accesskey="t"></a>

    <th:block th:if="${userLogin == null}">
        <div class="alert alert-success" role="alert">
            ver 1.1. removed issue with no message in discussion causing error (this information will disappear after sign in)
        </div>
    </th:block>

        <div id="headerbar">
            <div id="headerbar-inner" class="inner-block">
                <div id="main-nav" th:fragment="main-nav">

            <br>

            <th:block th:if="${userLogin} != null">
                <div class="btn-group dropdown">
                    <button type="button" class="btn-g btn-groove dropdown-toggle-g" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${userLogin}"/>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="'/user/' + ${userId}">Profile</a>
                        <a class="dropdown-item" href="/PrivateMessages/">Private Messages  <span th:if="${newPrivateMessagesForUser.size()} > 0" class="badge badge-primary"><span th:text="${newPrivateMessagesForUser.size()}"/>  </span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
            </th:block>


            <th:block th:unless="${userLogin} != null">
                <div class="btn-group dropdown">
                    <button type="button" class="btn-g btn-groove dropdown-toggle-g" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Your account
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <form class="px-4 py-3" th:action="@{/signin.html}" method="post">
                            <div class="form-group">
                                <label for="username">Login</label>
                                <input type="text" id="username" name="username" placeholder="Your user login"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" placeholder="Password"/>
                            </div>
                            <button type="submit" class="btn-g btn-groove">Sign in</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/register">New around here? Sign up</a>
                    </div>
                </div>

                <!-- As welcome -->
                <div class="modal-g fade-g" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog-g" role="document">
                        <div class="modal-content-g">
                            <div class="modal-header-g">
                                <h2 class="modal-title-g" id="exampleModalLongTitle">Welcome to DiscussIT</h2>
                                <button type="button" class="btn-groove btn-g" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body-g" style="text-align: center">
                                DiscussIT is fully operational discussion forum engine. After successful sign in You can start creating discussions and writing posts. You are able also to send private messages to other users.<br><br>

                                To use DiscussIT You should be successfully signed with credentials. For that You can either:<br><br>
                                a) create Your own account<br>
                                b) use one of already created accounts:<br><br>
                                <table class="table" style="width: 40%; margin-left: 30%">
                                    <thead class="thead-dark">
                                    <tr style="text-align: center">
                                        <th>user</th>
                                        <th>password</th>
                                        <th>role</th>
                                    </tr></thead>
                                    <tr style="text-align: center">
                                        <td>john</td>
                                        <td>john123</td>
                                        <td>USER</td>
                                    </tr>
                                    <tr style="text-align: center">
                                        <td>lucy</td>
                                        <td>lucy123</td>
                                        <td>ADMIN</td>
                                    </tr>
                                </table>

                                <br><br>

                                DiscussIT is created with:<br>
                                <p style="font-family: Verdana; font-weight: bold; font-size: medium">Java 8, Spring framework (Boot, Core, MVC, Security), JPA, Hibernate, MySQL, Thymeleaf, HTML, CSS, Bootstrap 4</p><br>

                                More information about this app (technical specification, full source code) can be found on my <a href="https://gitlab.com/groove_grzes/DiscussIT">GitLab account</a>. Feel free to contact me.
                            </div>
                            <div class="modal-footer-g">
                                <button type="button-g" class="btn-groove btn-g" data-dismiss="modal">Enjoy DiscussIT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>


            <a class="btn-g btn-groove btn-g" href="/" role="button" style="color: #FFFFFF">Forum</a>
            <a class="btn-g btn-groove btn-g" href="/users" role="button" style="color: #FFFFFF">Users</a>

            <th:block th:if="${canGoToAdmin} == true">
                <a class="btn-g-danger btn-groove btn-g" href="/admin" role="button" style="color: #FFFFFF">Admin</a>
            </th:block>

            <br><br>
        </div>
    </div>
</div>

        <div id="subheader" data-type="background" data-speed="3" style="background-position: 50% 0px;">
            <div id="subheader-inner" class="inner-block">

                <div class="site-name">DiscussIT</div>
                <p class="site-description">Place for Your voice</p>

            </div>
        </div>
    </div>
    <a id="start_here"></a>
    <div id="page-body" class="inner-block">
        <ul class="linklist">
            <br><br>
        </ul>
        <div id="page-body-inner" class="sidebar">

            <div class="forabg" th:each="CategoryDto: ${allCategories}">
                <div class="inner">
                    <ul class="topiclist">
                        <li class="header">
                            <dl class="icon">
                                <dt class="header-name"><span th:text="${CategoryDto.getCategoryTopic()}"/> </dt>
                                <dd class="topics">Topics</dd>
                                <dd class="posts">Posts</dd>
                                <dd class="lastpost"><span>Last post</span></dd>
                            </dl>
                        </li>
                    </ul>

                    <ul class="topiclist forums">
                        <li class="row" id="forum2" th:each="SectionDto: ${allSections}" th:if="${SectionDto.getCategoryId() == CategoryDto.getId()}">
                            <dl class="icon" style="background-image: url(/marina_teal/theme/images/forum_read.svg); background-repeat: no-repeat;">
                                <dt>
                                    <a th:href="'/section/' + ${SectionDto.getId()}" th:text="${SectionDto.getSectionTopic()}" class="forumtitle"/><!--<div class="forum-description">Description of your first forum.</div>-->
                                </dt>
                                <dd class="topics"><span th:text="${sectionNumbersToFront.get(SectionDto.getId()).getNumberOfDiscussions()}"/><dfn>Topics</dfn></dd>
                                <dd class="posts"><span th:text="${sectionNumbersToFront.get(SectionDto.getId()).getNumberOfMessages()}"/><dfn>Posts</dfn></dd>
                                <dd class="lastpost">
                                    <span th:if="${!sectionNumbersToFront.get(SectionDto.getId()).getAuthorOfLastPost().equals('null')}">
                                    <dfn>Last post</dfn> by <a th:href="'/user/' + ${sectionNumbersToFront.get(SectionDto.getId()).getAuthorOfLastPostId()}" th:text="${sectionNumbersToFront.get(SectionDto.getId()).getAuthorOfLastPost()}" />
                                        <img th:src="@{'data:image;base64,'+${sectionNumbersToFront.get(SectionDto.getId()).getUserAvatar()}}" class="avatar" />
                                    </span>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block-header">Who is online</div>
            <div class="block-body">In total there are <strong>X</strong> users online :: function is currently not available<br><br>
                <span th:each="String : ${usersLogged}" th:text="aaa"/>
            </div>
            <div class="block-header">Statistics</div>
            <div class="block-body">
                Total messages <strong><span th:text="${mapOfStatistics.get('numberOfAllMessages')}"/></strong> • Total discussions <strong><span th:text="${mapOfStatistics.get('numerOfAllDiscussions')}"/></strong> • Total members <strong><span th:text="${mapOfStatistics.get('numberOfAllUsers')}"/></strong> • Our newest member <strong><a th:href="'/user/' + ${lastNewUser.getId()}" th:text="${lastNewUser.getLogin()}"/> </strong><br>
            </div>
        </div>



        <div id="sidebar">
            <div class="sidebar-block">
                <div class="block-header">
                    Shoutbox
                </div>
                <div class="block-body">
                        <div>
                            <table class="table-g">
                                <tr th:each="ShoutboxMessageViewDto : ${shoutboxMessages}">
                                    <td th:text="${ShoutboxMessageViewDto.getUserLogin()}"/>
                                    <td th:text="${ShoutboxMessageViewDto.getText()}"/>
                                    <td th:text="${ShoutboxMessageViewDto.getDate()}"/>
                                </tr>
                            </table>

                            <th:block th:if="${userLogin} != null">
                                <form action="#" th:action="@{/shoutbox/addMessage}" th:object="${newshouboxMessage}" method="post">

                                    <input type="text" th:field="*{text}"/>

                                    <div style="color: red" th:if="${isShoutboxInvalid}">
                                        You have to write something ;-)<br>
                                    </div>

                                    <input type="hidden" th:field="*{userId}" th:value="${newshouboxMessage.getUserId()}"/>

                                    <input type="submit" class="btn-g btn-groove btn-g-sm" value="Submit"/>
                                </form>
                            </th:block>



                            <th:block th:unless="${userLogin} != null">

                                <div class="alert alert-danger" role="alert">
                                    You have to be sign in to write in shoutbox
                                </div>


                            </th:block>
                        </div>
                </div>

            </div>

            <div class="sidebar-block">

                <div class="block-header">
                    Last 10 messages
                </div>

                <div class="block-body">
                        <div>
                            <table class="table-g">
                                <tr th:each="MessageViewFrontPageDto : ${lastMessages}">
                                    <td th:text="${MessageViewFrontPageDto.text}"/>
                                    <td><a th:href="'/discussion/' + ${MessageViewFrontPageDto.getDiscussionId()}" th:text="${MessageViewFrontPageDto.getDiscussionTopic()}"/></td>
                                    <td th:text="${MessageViewFrontPageDto.getUserLogin()}"/>
                                </tr>
                            </table>
                        </div>
                </div>

            </div>

            <div class="sidebar-block">

                <div class="block-header">
                    5 newest discussions
                </div>

                <div class="block-body">
                    <div>
                        <table class="table-g">
                            <tr th:each="DiscussionDto : ${top5Discussions}">
                                <td><a th:href="'/discussion/' + ${DiscussionDto.getId()}" th:text="${DiscussionDto.getTopic()}"/></td>
                                <td><a th:href="'/user/' + ${DiscussionDto.getUserId()}" th:text="${DiscussionDto.getUserLogin()}"/></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page-footer">
        <div class="navbar">
            <div class="inner inner-block">
                <ul class="linklist">
                </ul>
            </div>
        </div>
    </div>
    <div id="footer" th:fragment="footer">
        <div id="footer-inner" class="inner-block">
            <div id="prefooter">
                <div class="prefooter-block width-33">
                    <h2>About me</h2>
                    <p>I'm Grzegorz, I'm Java developer.</p>

                    <p>DiscussIT is a discussion forum.<br>
                        Backend engine of this forum was fully developed and coded by me. Its code can be found on my <a th:href="'http://gitlab.com/groove_grzes'" th:text="'GitLab profile'"/> .
                    </p>

                    <p>You can find more about me on my personal web site.</p>

                </div>
                <div class="prefooter-block width-33">
                    <h2>Contact</h2>
                    <ul>

                        <li><a th:href="'http://www.grzegorznowosad.pl'" th:text="www.grzegorznowosad.pl"/> </li>

                    </ul>
                </div>
                <div class="prefooter-block width-33">
                    <h2>Links</h2>
                    <ul>
                        <li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="/">Home</a></li>
                        <li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="/users">Members</a></li>
                        <li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="/faq">Faq</a></li>
                        <!--<li><i class="fa fa-chevron-circle-right fa-fw"></i>&nbsp;<a href="#">Community rules</a></li>-->
                    </ul>
                </div>
            </div>
            <div id="footer-main">
                <div id="pixelgoose-copyright">This forum uses modified Marina theme by <a title="Premium phpBB Themes" href="https://pixelgoose.com/">PixelGoose Studio</a></div>
            </div>
        </div>
    </div>
</div>
<div id="cron-block">
    <a id="bottom" accesskey="z"></a>
</div>



<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.bundle.js"></script>


<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
</script>


</body>
</html>