<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body>

    <div style="text-align: center">
        <h1>
            <b><strong>Oops, something went wrong :(</strong></h1></b><br><br>
        <img src="/other/pic/shrek-cat.gif" height="400" width="500"/><br><br>


        <h2>We are sorry, cat is deeply sorry ... something went wrong<br>
            <a href="/">click here to go to main page</a>
<br><br>

            <span th:text="'error reason --> ' + ${errorCode}"/>
        </h2>
    </div>



</body>
</html>