<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form>
    <textarea rows="10" cols="15"><th:block th:text="${message.getText()}"/></textarea>

    <br><br>
</form>

</body>
</html>